<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976285834535-r3lbkot1336hnn1a6q24q7hg2ue1f9bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976285834535-r3lbkot1336hnn1a6q24q7hg2ue1f9bd</string>
	<key>API_KEY</key>
	<string>AIzaSyAAdH1ImvWt1HmsqH2doYSRH7LBuCeK27I</string>
	<key>GCM_SENDER_ID</key>
	<string>976285834535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.dumbun.toDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-bajakdna</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-bajakdna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976285834535:ios:66491d5375f3bc92c55d02</string>
</dict>
</plist>